[core]
	editor = vim
[user]
	email = j.yang5@elsevier.com
	name = Jerry Yang
[alias]
	co = checkout
	url-repo = !git remote get-url origin | sed -e \"s/git@github.com:/https:\\/\\/github.com\\//\" | sed -e \"s/\\.git$//\"
	url-branch = !git url-repo | sed -e \"s/$/\\/tree\\/$(git rev-parse --abbrev-ref HEAD)/\"
	latest-tag = !git describe --tags $(git rev-list --tags --max-count=1)
	branches-contains = branch --contains
	tag-commit = rev-list -n 1
	wt-pr = "!f() { \
      root=$(git rev-parse --show-toplevel); repo=$(basename \"$root\"); \
      dir=\"$root/../$repo.worktrees/pr-$1\"; \
      git worktree add --detach \"$dir\" && ( cd \"$dir\" && gh pr checkout \"$1\" ); \
      echo \"$dir\"; \
    }; f"
	wt-pr-rm = "!f() { \
      root=$(git rev-parse --show-toplevel); repo=$(basename \"$root\"); \
      git -C \"$root\" worktree remove --force \"$root/../$repo.worktrees/pr-$1\"; \
      git -C \"$root\" worktree prune; \
    }; f"
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = JerryYang42
