[core]
	editor = vim
[user]
	email = j.yang5@elsevier.com
	name = Jerry Yang
[alias]
	co = checkout
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = JerryYang42
