[core]
	editor = vim
[user]
	email = j.yang5@elsevier.com
	name = Jerry Yang
[alias]
	co = checkout
	show-url = !git remote get-url origin | sed -e \"s/git@github.com:/https:\\/\\/github.com\\//\" | sed -e \"s/\\.git$//\" | sed -e \"s/$/\\/tree\\/$(git rev-parse --abbrev-ref HEAD)/\"
	latest-tag = !git describe --tags $(git rev-list --tags --max-count=1)
	branches-contains = branch --contains
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = JerryYang42
